In [1]:
import pandas as pd

In [9]:
idesind = pd.read_csv('csv_data/a_data_co_idesind.csv', index_col=0)
ifndq = pd.read_csv('csv_data/a_data_co_ifndq.csv', index_col=0)
ifndytd = pd.read_csv('csv_data/a_data_co_ifndytd.csv', index_col=0)
ifndytd_lag1q = pd.read_csv('csv_data/a_data_co_ifndytd_lag1q.csv', index_col=0)

In [12]:
ifndq

,gvk,iid,fq0date,fyr0,fqtr0,dateprc,qlag,qtrnext,gvkey,datadate,...,xsgaq_dc,xsq,xsq_dc,xstoq,xstoq_dc,xstq,xstq_dc,xtq,xtq_dc,PacVerToFeedPop
1,1004,1,2020-02-29,5,3,2020-06-02,-12,2017-02-28,1004.0,2017-02-28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5407.0
2,1004,1,2020-02-29,5,3,2020-06-02,-11,2017-05-31,1004.0,2017-05-31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5407.0
3,1004,1,2020-02-29,5,3,2020-06-02,-10,2017-08-31,1004.0,2017-08-31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5407.0
4,1004,1,2020-02-29,5,3,2020-06-02,-9,2017-11-30,1004.0,2017-11-30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5407.0
5,1004,1,2020-02-29,5,3,2020-06-02,-8,2018-02-28,1004.0,2018-02-28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5407.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85809,332115,1,2020-03-31,12,1,2020-06-02,-4,2019-03-31,332115.0,2019-03-31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5407.0
85810,332115,1,2020-03-31,12,1,2020-06-02,-3,2019-06-30,332115.0,2019-06-30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5407.0
85811,332115,1,2020-03-31,12,1,2020-06-02,-2,2019-09-30,332115.0,2019-09-30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5407.0
85812,332115,1,2020-03-31,12,1,2020-06-02,-1,2019-12-31,332115.0,2019-12-31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5407.0
85813,332115,1,2020-03-31,12,1,2020-06-02,0,2020-03-31,332115.0,2020-03-31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5407.0